.DivP1 {
    height: auto; /* Ajusta a altura automaticamente com base no conteúdo */
    padding: 2rem; /* Adiciona padding para melhor espaçamento */
}

.paragrafo {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    font-size: 22px;
    color: rgb(199, 199, 199);
}

/* Responsividade adicional */
@media (max-width: 767px) {
    .paragrafo {
        font-size: 18px; /* Ajusta o tamanho da fonte para telas menores */
        margin-top: 15px; /* Ajusta o espaçamento para telas menores */
    }
}
